.se-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 13rem repeat(8, 6rem);
  grid-template-rows: 5rem repeat(7, 3.25rem);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.reset-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: #cccccc;

  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}

.job-title {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.25rem;
  background-color: #f8c355;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #000000;

  &.inactive {
    background-color: #f8c35530;
    color: #00000060;

    &:hover {
      background-color: #f8c35560;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.skill {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  background-color: #838787;
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;

  &.inactive {
    background-color: #83878730;
    color: #ffffff20;

    &:hover {
      background-color: #83878760;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.proficiency {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;

  &.readonly {
    cursor: default;
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &.developing {
    background-color: #d8e8f6;
    &.inactive {
      background-color: #d8e8f620;
      color: #00000060;

      &:hover {
        background-color: #d8e8f680;
      }
    }
  }

  &.supporting {
    background-color: #b5d1ec;
    &.inactive {
      background-color: #b5d1ec20;
      color: #00000060;

      &:hover {
        background-color: #b5d1ec80;
      }
    }
  }

  &.applying {
    background-color: #90bae2;
    &.inactive {
      background-color: #90bae220;
      color: #00000060;

      &:hover {
        background-color: #90bae280;
      }
    }
  }

  &.leading {
    background-color: #2a6aac;
    color: white;
    &.inactive {
      background-color: #2a6aac20;
      color: #00000060;

      &:hover {
        background-color: #2a6aac80;
      }
    }
  }

  &.shaping {
    background-color: #1d466d;
    color: white;
    &.inactive {
      background-color: #1d466d20;
      color: #00000060;

      &:hover {
        background-color: #1d466d80;
      }
    }
  }
}

.skill-label {
  color: #f8c355;
  font-weight: bold;
  font-size: 2.8rem;
}

.section-label {
  margin-top: 3rem;
  color: #f8c355;
}

.skill-description {
  padding: 1rem;
  color: #eeeeee;
  max-width: 55rem;
}

.skill-definition,
.skill-behavior,
.proficiency-item {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.skill-definition {
  margin-left: 1.5rem;
}
