.se-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 13rem repeat(8, 6rem);
  grid-template-rows: 5rem repeat(7, 3.25rem);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.job-title {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.25rem;
  background-color: #f8c355;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #000000;

  &.inactive {
    background-color: #f8c35510;
    color: #00000060;
  }

  &:hover {
    text-decoration: underline;
  }
}

.skill {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  background-color: #838787;
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;

  &.inactive {
    background-color: #83878710;
    color: #ffffff10;
  }

  &:hover {
    text-decoration: underline;
  }
}

.proficiency {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;

  &.readonly {
    cursor: default;
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }

  &.developing {
    background-color: #d8e8f6;
    &.inactive {
      background-color: #d8e8f610;
      color: #00000060;
    }
  }

  &.supporting {
    background-color: #b5d1ec;
    &.inactive {
      background-color: #b5d1ec10;
      color: #00000060;
    }
  }

  &.applying {
    background-color: #90bae2;
    &.inactive {
      background-color: #90bae210;
      color: #00000060;
    }
  }

  &.leading {
    background-color: #2a6aac;
    color: white;
    &.inactive {
      background-color: #2a6aac10;
      color: #00000060;
    }
  }

  &.shaping {
    background-color: #1d466d;
    color: white;
    &.inactive {
      background-color: #1d466d10;
      color: #00000060;
    }
  }
}

.skill-label {
  color: #f8c355;
  font-weight: bold;
  font-size: 2.8rem;
}

.section-label {
  margin-top: 3rem;
  color: #f8c355;
}

.skill-description {
  padding: 1rem;
  color: #eeeeee;
  max-width: 55rem;
}

.skill-definition,
.skill-behavior,
.proficiency-item {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.skill-definition {
  margin-left: 1.5rem;
}
